<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moneycollect.example_java">

    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:name="com.moneycollect.example_java.ExampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewMerchantManagerSDK">

        <activity
            android:name="com.moneycollect.example_java.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moneycollect.example_java.activity.SaveCardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.Dialog"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.moneycollect.example_java.activity.PayCardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.Dialog"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.moneycollect.example_java.activity.PaymentMethodExampleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeLight"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.moneycollect.example_java.activity.CreateCustomerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeLight"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.moneycollect.example_java.activity.SelectCustomerPaymentMethodListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeLight"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.moneycollect.example_java.activity.PaymentExampleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeLight"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.moneycollect.example_java.activity.PaymentDemoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeLight"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.moneycollect.example_java.activity.PaymentLocalDemoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeLight"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.moneycollect.example_java.activity.LocalPaymentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.Dialog"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.moneycollect.example_java.activity.PaymentSheetDemoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeLight"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.moneycollect.example_java.activity.PaymentSheetCustomDemoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeLight"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.moneycollect.example_java.activity.SelectButtonTypeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeLight"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.moneycollect.example_java.activity.ValidationWebActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeLight"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.moneycollect.example_java.activity.ValidationLocalWebActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/MyThemeLight"/>

        <activity
            android:name="com.moneycollect.example_java.activity.SchemeReceiveActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/MyThemeLight">
            <intent-filter>
                <!-- 协议部分，随便设置 -->
                <data
                    android:host="payment"
                    android:path="/webpay"
                    android:port="8080"
                    android:scheme="asiabill" />
                <!-- 下面这几行也必须得设置 -->
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moneycollect.example_java.activity.SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeLight"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>